# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env

# Model weights (DO NOT PUSH)
models/*.pt

# Uploads & outputs
backend/uploads/
backend/outputs/
backend/password.txt

CIVISENSE_docu.pdf

# Data
data/
*.zip

# OS
.DS_Store
Thumbs.db
